<div class="toolbar">
	<h1 id="pageTitle">
		<%= @word['wordstring'] %>
	</h1>
</div>

<ul id="wordniks" title="Today's Word" selected="true">
  <li style='background-color: gray;'><%= @word['wordstring'] %></li>
  <li style='background-color: gray;'><%= @word %></li>
</ul>