<div id="home">
  <div class="toolbar">
    <h1><%= @definitions[0]['headword'] %></h1>
  </div>
  <ul class="rounded">
  	<% @definitions.each do |definition| %>
	  <li>
	    (<%= definition['partOfSpeech'] %>)
	    <%= definition['text'] %>
	  </li>
  	<% end %>
</div>
