<div class="toolbar">
	<h1 id="pageTitle">
		Random Word
	</h1>
</div>

<ul id="wordniks" title="Random Word" selected="true">
  <li style='background-color: gray;'><%= @word['wordstring'] %></li>
</ul>